<!doctype html>
<html ng-app>
<body ng-init="customers=[{joined: '2005-12-02', city: 'Lexington', total: 120.98, name: 'Todd'}, 
{joined: '2000-12-02', city: 'Fort Mitchel', total: 100.20, name: 'Jason'},
{joined: '2015-12-02', city: 'Cincy', total: 20.50, name: 'Stu'}]">

Filter: <input type="text" ng-model="customerFilter.name" />
<table>
  <tr>
    <th>Name</th>
    <th>City</th>
    <th>Total</th>
    <th>Joined</th>
  </tr>
  <tr ng-repeat="cust in customers | filter:customerFilter | orderBy: 'name'">
    <td>{{ cust.name }}</td>
    <td>{{ cust.city }}</td>
    <td>{{ cust.total | currency }}</td>
    <td>{{ cust.joined | date}}</td>
  </tr>
</table>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
</body>
</html>