<!DOCTYPE html>
<html ng-app="notesApp">
<head><title>Notes App</title></head>
<body ng-controller="MainCtrl as ctrl">
  <input type="text" ng-model="name" placeholder="Enter your name">

  <h1>{{ctrl.message}} <span ng-bind="name"></span></h1>
  <button ng-click="ctrl.changeMessage()">
    Change Message
  </button>

  <div ng-repeat="note in ctrl.notes">
    Without Bind Once: <div class="label" ng-bind="note.label"></div>
    With Bind Once: <div class="label" ng-bind="::note.label"></div>
  </div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js">
</script>
<script type="text/javascript">
  angular.module('notesApp', [])
    .controller('MainCtrl', [function() {
      console.log('MainCtrl has been created');
      var self = this;
      self.notes = [
        {id: 1, label: 'First', done: false},
        {id: 2, label: 'Second', done: false},
        {id: 3, label: 'Third', done: true},
        {id: 4, label: 'Fourth', done: false}
      ];
      self.message = 'Hey dudes!';
      self.changeMessage = function() {
        self.message = 'GoodBye!!!';
        self.notes[1].label = 'Changed Note';
      };
  }]);
  
</script>
</body>
</html>
